---
version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
    rebase-strategy: auto
    open-pull-requests-limit: 10
    groups:
      github-actions:
    commit-message:
      prefix: "chore(deps)"
      include: "scope"
