---
extends: default

rules:
  line-length:
    level: warning
    allow-non-breakable-inline-mappings: true
  truthy:
    check-keys: false

ignore: |
  .esphome
  .clang-format
  m5atom-rs485-econet.yaml
