---
name: Build Firmware

on:
  pull_request:
  push:
    branches:
      - main
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build ${{ matrix.appliance.shorthand }}-${{ matrix.platform }} Firmware
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [esp32, esp8266]
        appliance:
          - name: electric_tank_water_heater
            shorthand: etwh
          - name: heatpump_water_heater
            shorthand: hpwh
          - name: hvac
            shorthand: hvac
          - name: tankless_water_heater
            shorthand: tlwh
      fail-fast: true
    steps:
      - uses: actions/checkout@v4.1.1
      - name: Force Manifest to Build Local Code
        uses: mikefarah/yq@v4.35.2
        with:
          cmd: yq -P -i '.substitutions.external_components_source = "components"'' build-yaml/econet-${{ matrix.appliance.shorthand }}-${{ matrix.platform }}.yaml
      - name: Build Firmware
        uses: esphome/build-action@v1.8.0
        with:
          yaml_file: build-yaml/econet-${{ matrix.appliance.shorthand }}-${{ matrix.platform }}.yaml
