---
name: Build Firmware

on:
  workflow_call:
    inputs:
      upload-artifacts:
        type: boolean
        required: false
        default: false
        description: "Set to true to have this workflow upload resulting firmware artifacts."
      force-verbose-logging:
        type: boolean
        required: false
        default: false
        description: "Set to true to have this workflow force verbose logging, useful for catching build failures in logging code."
      esphome-version:
        type: string
        required: false
        default: 'latest'
        description: "Specify the esphome release with which to build."
  workflow_call:
    inputs:
      upload-artifacts:
        type: boolean
        required: false
        default: false
        description: "Set to true to have this workflow upload resulting firmware artifacts."
      force-verbose-logging:
        type: boolean
        required: false
        default: false
        description: "Set to true to have this workflow force verbose logging, useful for catching build failures in logging code."
      esphome-version:
        type: string
        required: false
        default: 'latest'
        description: "Specify the esphome release with which to build."
  
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build ${{ matrix.appliance.shorthand }}-${{ matrix.platform }} Firmware
    runs-on: ubuntu-latest
    strategy:
      matrix:
        platform: [esp32, esp32c3, esp32s3, esp8266]
        appliance:
          - name: electric_tank_water_heater
            shorthand: etwh
          - name: heatpump_water_heater
            shorthand: hpwh
          - name: hvac_furnace
            shorthand: hvac_furnace
          - name: hvac_air_handler
            shorthand: hvac_air_handler
          - name: tankless_water_heater
            shorthand: tlwh
      fail-fast: true
    steps:
      - uses: actions/checkout@v4
      - name: Force Manifest to Build Local Code
        uses: mikefarah/yq@v4
        with:
          cmd: >
            yq -P -i
            '
              .substitutions.external_components_source = "../components" |
              .packages.econet = "../econet_${{ matrix.appliance.name }}.yaml" |
              .packages.econet   tag = "!include"
            '
            build-yaml/econet-${{ matrix.appliance.shorthand }}-${{ matrix.platform }}.yaml
      - name: Add components only for the build
        uses: mikefarah/yq@v4
        with:
          cmd: >
            yq -P -i
            '
              .improv_serial = "" |
              .improv_serial tag = "!!null"
            '
            build-yaml/econet-${{ matrix.appliance.shorthand }}-${{ matrix.platform }}.yaml
      - name: Force Verbose Logging
        if: ${{ inputs.force-verbose-logging }}
        uses: mikefarah/yq@v4
        with:
          cmd: >
            yq -P -i
            '
              .substitutions.logger_level = "VERY_VERBOSE"
            '
            build-yaml/econet-${{ matrix.appliance.shorthand }}-${{ matrix.platform }}.yaml
      - name: Build Firmware
        id: esphome-build
        uses: esphome/build-action@v6
        with:
          yaml-file: build-yaml/econet-${{ matrix.appliance.shorthand }}-${{ matrix.platform }}.yaml
          version: ${{ inputs.esphome-version }}
      - name: Copy firmware and manifest
        if: ${{ inputs.upload-artifacts }}
        run: |
          mkdir output
          mv ${{ steps.esphome-build.outputs.name }} output/
      - name: Upload artifact
        if: ${{ inputs.upload-artifacts }}
        uses: actions/upload-artifact@v4
        with:
          name: econet-${{ matrix.appliance.shorthand }}-${{ matrix.platform }}
          path: output
          retention-days: 7
  build-status: # Needed to provide an overall status on this job rather than just the various matrix jobs
    name: Compile Build Status
    needs: build
    runs-on: ubuntu-latest
    if: ${{ always() }}
    steps:
      - name: Check build matrix status
        if: ${{ needs.build.result != 'success' }}
        run: exit 1
